fastcore>=1.4
imutils>=0.5.4
numpy>=1.25.2
PyGObject~=3.42.2
setuptools>=68.0.0

opencv-python~=4.8.1.78
matplotlib~=3.8.0
Pillow~=10.1.0
UAV~=0.0.1
psutil~=5.9.5
nbdev~=2.3.12
requests~=2.31.0
PyYAML~=6.0.1
msgpack-python~=0.5.6
moviepy~=1.0.3
toml~=0.10.2
fs~=2.4.16
PySimpleGUI~=4.60.5
pymavlink~=2.4.40
colorlog~=6.7.0
pynput~=1.7.6
jupyter~=1.0.0
pip~=23.3
attrs~=23.1.0
wheel~=0.41.2

Jinja2~=3.1.2
pytest~=7.4.2
flake8~=6.1.0
pyflakes~=3.1.0
pycodestyle~=2.11.1
wcwidth~=0.2.8
pluggy~=1.3.0
exceptiongroup~=1.1.3
iniconfig~=2.0.0
pexpect~=4.8.0
py-cpuinfo~=9.0.0
packaging~=23.2
future~=0.18.3
platformdirs~=3.11.0
